body {
    font-family: Arial, sans-serif;
}

#login-section, #dashboard-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
}

#loginForm, #dashboard-section {
    display: flex;
    flex-direction: column;
}

h2, h1 {
    text-align: center;
}

label, input, button, select {
    margin-bottom: 10px;
}

button {
    
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: scale 0.2s ease;

}
#fetch{
    background-color: #28a745;
}

#out{
    background-color: #dc3545;
}

button:hover {
    background-color: #218838;
    scale: 1.02;
    
}

input{
    height: 20px;
}

select {
    padding: 5px;
}
input{
    border-radius: 5px;
}

li{
    list-style-type: none;
    transition: all 0.2s;
    
}
li:hover{
    scale: 1.02;
}

a{
    text-decoration: none;
}

h1{
    color: #28a745;
    
}
.heading{
    background-color: yellow;
}